*.o
*.a
*.swp
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
Makefile
config.log
config.status
.deps
.gdb_history
*.out
m4
config.guess
config.sub
.libs
*.la
*.lo
libtool
ltmain.sh
test[0-9]
test[0-9][0-9]
perf
